<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        Download: <a target="_blank" rel="noopener noreferrer" href="./babyAnD">babyAnD</a>
    </div>
    <div>
        <p>Bot score: {{ bot_score }} </p>
        <p>Bot service : {{ b_s }}</p>
    </div>
    <div>
        <p>Player score: {{ player_score }} {{p}}</p>
        <p>Player service : {{p_s}}</p>
    </div>
    {{output}}
    <div>
        <p> upload your patch :</p>
        <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/patch">
            <input id="fileupload" name="file" type="file" />
            <input type="submit" value="submit" id="submit" />
        </form>
    </div>
</form>
</body>
</html>
